.titleHostRating {
  display: flex;
  margin-top: 20px;
}

.titreAndLocalisation {
  flex: 1;
  color: #ff6060;
}
.titreAndLocalisation h1 {
  margin: 10px 0 0 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
}
.titreAndLocalisation p {
  margin: 0 0 30px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}
.hostRating {
  flex: 1;
}
.hostHousing {
  display: flex;
  justify-content: flex-end;
}
.ratingHousing {
    margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.collapseHousing {
    display: flex;
    gap: 76px;
}
.collapseHousingText {
 flex: 1;
}
.collapseHousingList {
flex: 1;
}
