.styleHeaderCommon {
    display: flex;
}
.styleHeaderCommon img {
    display: flex;
    flex: 1;
    max-width: 12.5%;
    justify-content: flex-start;
    align-items: center;
}
.styleHeaderCommon nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 57px;
}
.styleHeaderNavBar {
  text-decoration: none;
  color: #ff6060;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}
.navActiveHome, .navActiveAbout {
  color: #ff6060;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}
