.styleAppImage {
  position: relative;
  margin-top: 70px;
  color: #ffffff;
}
.styleAppImage h1 {
  margin: 0;
  position: absolute;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.styleAppImage img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}
.styleHousingInnerHomePage {
  margin-top: 45px;
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 50px;
}
.cardsHousings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.cardHousing {
  border-radius: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.cardHousing img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cardHousing p {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  position: absolute;
  color: #ffffff;
  bottom: 2%;
  left: 5%;
  width: 30%;
}
